// DELETE THIS COMMENT AND MAKE A `corde.config.json` FILE:
// In order to test with Jest and Corde.js, you will need to create another bot that lives in the same server
// as the main Discord bot. The config here will have the cordeBotToken (the bot token you hit 'reset token' on under Bot)
// And the botTestId is the actual, main Discord bot. The guildId and channelId should reflect where both bots reside for testing purposes
{
   "cordeBotToken":  "<tokenForCordeBot>",
   "botTestId":  "<yourBotId>",
   "guildId":  "<guildId>",
   "channelId":  "<channelId>",
   "botPrefix":  "!",
   "testMatches":  ["./test/**"]
}